{:aot [fress.impl.bytestream]
 :aliases
 {
  :wasm-test {:builds [;; lein with-profile wasm-test cljsbuild once node
                       {:id "node"
                        :source-paths ["src/main"
                                       "src/test_common"
                                       "src/wasm_test"]
                        :compiler {:main fress.wasm-runner
                                   :output-to "target/wasm_test/wasm_test.js"
                                   :output-dir "target/wasm_test"
                                   :target :nodejs
                                   :parallel-build true
                                   :elide-asserts true}}]}
  :test {:builds
         [;;lein with-profile test cljsbuild once node
          {:id "node"
           :source-paths ["src/main" "src/test"]
           :compiler {:main fress.runner
                      :output-to "target/test/fress.js"
                      :output-dir "target/test"
                      :target :nodejs
                      :parallel-build true
                      :optimizations :advanced
                      :elide-asserts true}}
          {:id "browser"
           :source-paths ["src/main" "src/test"]
           :compiler {:main fress.browser-runner
                      :output-to "resources/public/js/fress.js"
                      :parallel-build true
                      :optimizations :advanced
                      :elide-asserts true}}]}
  :bench {:builds
          [{:id "bench"
            :source-paths ["src/main" "src/bench"]
            :compiler {:main fress.bench
                       :output-to "target/bench/bench.js"
                       :output-dir "target/bench"
                       :target :nodejs
                       :parallel-build true
                       :optimizations :advanced
                       :elide-asserts true}}]}}}