{:paths ["src/main/cljs"
         "src/main/clj"]
 :deps {org.clojure/clojure {:mvn/version "1.10.0-alpha6"}
        org.clojure/clojurescript {:mvn/version  "1.10.339"}
        ; org.clojure/test.check {:mvn/version  "0.10.0-alpha2"}
        org.clojure/data.fressian {:mvn/version "0.2.1"}}
 :aliases {:bench {:extra-paths ["src/bench"]
                   :extra-deps {com.cognitect/transit-cljs {:mvn/version "0.8.256"}}}
           :test {:extra-paths ["src/test"]
                  :extra-deps {org.clojure/tools.reader {:mvn/version "1.3.0"}}}}}